@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400&family=Poppins:ital,wght@0,100;0,300;0,400;0,700;1,700&display=swap');

* {
    text-decoration: none;
    font-family: 'Nunito Sans', sans-serif;
}

form {
    width: 600px;
    margin: 50px auto;
    padding: 40px;
    border-radius: 10px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

form div {
    margin-top: 15px;
}

label {
    font-weight: bold;
}

input, textarea, select {
    background-color: #dfdede;
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #dbdbdb;
    resize: none;
}

select {
    width: 94%;
}

button {
    background-color: black;
    color: #fff;
    padding: 6px 25px;
    border: none;
    border-radius: 30px;
    margin-top: 5px;
    font-size: 15px;
    cursor: pointer;
}

button:hover {
    background-color: black;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

form .button {
    display: flex;
    justify-content: right;
}

@media only screen and (max-width: 550px) {

    form {
        width: 250px;
        margin: 50px auto;
        padding: 40px;
        border-radius: 10px;
        box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    select {
        width: 98%;
    }
}
